#page-about{
        height: 100%;
        position: relative;
        background: linear-gradient(to bottom, rgba(0,63,137,0.65) 0%,rgba(0,0,0,0) 100%);
        .headshot{
            //border: 4px solid $blue;
            margin-bottom: 1em;
            @include mq($M){
                margin-bottom: 0;
            };
        }
        .video{
            background-color: $blue;
        }
        #about-vid{
            vertical-align: bottom;
        }
        .about-us{
            // height: 100vh;
            background: url('assets/img/about-mtns.png') no-repeat center center;
            background-size: cover;
            .row{
                height: auto;
                // @include mq($M){
                //     height: 600px;
                // }
            }
        }
        .home{
            height: 300px;
            background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('assets/img/denver-bg.png') no-repeat center top;
            //background: url('assets/img/denver-bg.jpg') no-repeat center 25%;
            background-size: cover;
            .col{
                .denver{
                    height: 300px;
                    h1, img{
                        position: relative;
                        top: 100%;
                        opacity: 0;
                        visibility: hidden;
                        transition: 0.75s linear;
                        display: inline-block;
                    }
                    h1{
                        padding: 0 15px;
                    }
                    &.active{
                        h1, img{
                            @include vertical-align;
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
            .elevated {
                width: 70px;
            }
            .procurement {
                height: 70px;
            }
        }
}
