#capability{
  .cap-banner{
    //height: 400px;
    background-size: cover;
  }
  .cap-banner{
    img{
      //margin: 0 auto;
      width: 100px;
    }
  }
  .feature-content-container, .content{
      .wysywig-content{
        ul{
          margin: 0;
          padding: 0;
          list-style: none;
          margin-top: 1em;
          margin-bottom: 1em;
          li{
            width: 100%;
            float: none;
            padding: 5px 15px;
            @include mq($M){
                width: 50%;
                float: left;
            }
            &:before{
              content: '•';
              display: block;
              float: left;
              font-size: 34px;
              top: -10px;
              margin-right: 10px;
              position: relative;
              left: 0;

            }
          }
        }
      }
  }
  .content .wysywig-content ul li{
      padding: 8px 15px;
      &:before{
          content: '';
      }
  }

  .cap-features{
    background-color: $grey;
    .feature-btn{
      border: 2px solid $green;
      color: $blue;
      padding: 5px 0;
      width: 100%;
      font-family: $bebas-bold;
      font-size: 30px;
      position: relative;
      margin-bottom: 1em;
      @include mq($M){
          margin-bottom: 0;
      }
      &.active, &:focus, &:hover{
          background-color: $green;
          color: white;
          outline: none;
      }
      &.active{
        &:after{
          @include horz-align;
          position: absolute;
          top: 100%;
        	height: 0;
          width: 0;
          border: 30px solid transparent;
          border-top-color: $green;
          content: "";
        }
      }
    }
  }
  .feature-content-container{
    position: relative;
    height: 650px;
    @include mq($M){
        height: 400px;
    }
    img{
        padding-bottom: 1em;
        @include mq($M){
            padding-bottom: 0;
        }
    }
    ul li{
        float: left;
        padding: 0 15px;
    }
    .feature-content{
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transition: 0.35s linear;
      padding-top: 0;
      @include mq($M){
          padding-top: 2em;
      }
      &.active{
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .more-caps{
    a{
      text-decoration: none;
      color: black;
    }
    .cap-more{
      border: 2px solid $blue;
      img{
        width: 50px;
        margin: 0 auto;
        height: 75px;
      }
      .cap-icon-white{
        display: none;
      }
      &.active, &:hover{
        background-color: $green;
        .cap-icon-black{
          display: none;
        }
        .cap-icon-white{
          display: block;
        }
        a{
          color: white;
        }
      }
    }
  }
}
