#home{
    background: linear-gradient(to top, rgba(116,116,116,1) 0%,rgba(0,0,0,0) 100%);
}
#home-banner{
    position: relative;
    height: 450px;
    overflow: hidden;
    video{
        position: absolute;
        width: auto;
        z-index: 0;
        top: 0;
        @include mq($M){
            top: -50px;
        }
        @include mq($L){
            top: -100px;
        }
        @include mq('min-width:1400px'){
            top: -200px;
        }
    }
    .container{
        z-index: 9;
    }
    h1{
        line-height: 1;
        padding-top: 15px;
        @include mq($S){
            line-height: 1.3;
            padding-top: 1em;
        }
    }
    .margin-mobile{
        margin-top: 1em;
        @include mq($M){
            margin-top: 0;
        }
    }
    .banner-box{
        display: none;
        z-index: 2;
        position: absolute;
        @include mq($M){
            display: block;
        }
    }
    .banner-line{
        stroke-dasharray: 1994;
        stroke-dashoffset: 1994;
        &.active{
            animation: draw 1s linear forwards;
        }
    }
    .white-box{
        z-index: 1;
        margin-top: 0;
        position: relative;
        height: 105px;
        @include mq($M){
            height: 125px;
        }
        @include mq($L){
            height: 150px;
            h5{
                font-size: 26px;
            }
        }
        h5{
            font-size: 22px;
        }
    }
    .btn-green{
        z-index: 9;
        @include horz-align;
        position: absolute;
        bottom: 10px;
        font-size: 18px;
        @include mq($L){
            font-size: 24px;
        }
    }
}
#capabilities {
    height: 800px;
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    @include mq('min-width:1500px'){
        height: 1000px;
    }
    .container{
      max-width: 1250px;
    }
    .title{
        @include horz-align;
    }
    .cap-row{
      height: 800px;
    }
}
#business-procurement-solutions-line{
    position: absolute;
    top: 145px;
    width: 500px;
    left: 30%;
    z-index: 1;
    display: none;
    @include mq($S){
        display: block;
    }
    @include mq('min-width:1600px'){
        top: 200px;
        width: 800px;
        left: 20%;
    }
}
#real-time-line{
    position: absolute;
    top: 115px;
    width: 600px;
    left: 20%;
    z-index: 1;
    display: none;
    @include mq($S){
        display: block;
    }
    @include mq($XL){
        width: 700px;
        left: 15%;
    }
    @include mq('min-width:1600px'){
        width: 1000px;
        left: 15%;
    }
}
#price-benchmarking-line{
    position: absolute;
    transform: rotateX(-180deg);
    top: 500px;
    width: 600px;
    left: 15%;
    z-index: 1;
    display: none;
    @include mq($S){
        display: block;
    }
    @include mq($XL){
        width: 700px;
        left: 15%;
    }
    @include mq('min-width:1600px'){
        top: 500px;
        width: 1000px;
        left: 12%;
    }
}
#business-development-line{
    position: absolute;
    top: 360px;
    width: 250px;
    left: 50%;
    z-index: 1;
    display: none;
    @include mq($S){
        display: block;
    }
    @include mq($XL){
        width: 350px;
        left: 45%;
    }
    @include mq('min-width:1600px'){
        top: 425px;
        width: 500px;
        left: 35%;
    }
}
#contact-center-analytics-line{
    position: absolute;
    top: 360px;
    width: 650px;
    left: 20%;
    z-index: 1;
    display: none;
    @include mq($S){
        display: block;
    }
    @include mq($XL){
        left: 15%;
    }
    @include mq('min-width:1600px'){
        top: 420px;
        width: 850px;
        left: 10%;
    }
}
#cost-and-risk-reduction-line{
    position: absolute;
    transform: rotateX(-180deg);
    top: 460px;
    width: 500px;
    left: 30%;
    z-index: 1;
    display: none;
    @include mq($S){
        display: block;
    }
    @include mq('min-width:1600px'){
        top: 540px;
        width: 800px;
        left: 20%;
    }
}
.business-procurement-solutions-line, .cost-and-risk-reduction-line{
    stroke-dasharray: 850;
    stroke-dashoffset: 850;
    &.active{
        animation: draw 0.5s linear forwards;
    }
}
.real-time-call-intelligence-tools-line, .price-benchmarking-line{
    stroke-dasharray: 693;
    stroke-dashoffset: 693;
    &.active{
        animation: draw 0.5s linear forwards;
    }
}
.business-development-line{
    stroke-dasharray: 296;
    stroke-dashoffset: 296;
    &.active{
        animation: draw 0.5s linear forwards;
    }
}
.contact-center-analytics-line{
    stroke-dasharray: 649;
    stroke-dashoffset: 649;
    &.active{
        animation: draw 0.5s linear forwards;
    }
}
@keyframes draw {
    to{
        stroke-dashoffset: 0;
    }
}
.clip-svg {
  width: 0;
  height: 0;
}
.cap {
    background: rgba(0,0,0,0.6);
    width: 185px;
    height: 185px;
    background-size: cover;
    display: block;
    position: absolute;
    transition: all 0.3s ease-in;
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    -webkit-clip-path: url("#hexagon-clip");
    clip-path: url("#hexagon-clip");
    margin: 0 auto;
    color: #fff;
    left: 15px;
    z-index: 9;
        &#real-time-call-intelligence-tools{
            top: 6%;
            @include mq($M){
                top: 0;
            }
        }
        &#business-procurement-solutions{
            left: 160px;
            top: 19%;
        }
        &#business-development{
            left: 160px;
            top: 70%;
        }
        &#contact-center-analytics{
            top: 32%;
        }
        &#cost-and-risk-reduction{
            left: 160px;
            top: 45%;
        }
        &#price-benchmarking{
            top: 57%;
        }
        h5, .cap-icon, p{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        p{
          bottom: 15%;
          color: white;
          visibility: hidden;
          opacity: 0;
        }
        h5{
            top: 35%;
            width: 85%;
            text-align: center;
        }
        .cap-icon{
            visibility:hidden;
            opacity: 0;
            top: 15%;
            width: 50px;
            @include mq($S){
                width: 70px;
            }
        }
        &:hover, &.active{
            background: $green !important;
            transition: all 0.3s ease-in;
            h5{
                top: 50%;
            }
            h5, .cap-icon, p{
                transition: all 0.3s ease-in;
                visibility: visible;
                opacity: 1;
            }
        }
        @include mq($M){
            width: 250px;
            height: 250px;
            &#real-time{
                top: 0;
            }
            &#business-procurement-solutions{
                left: 225px;
                top: 15%;
            }
            &#business-development{
                left: 440px;
                top: 30%;
            }
            &#contact-center-analytics{
                top: 30%;
            }
            &#cost-and-risk-reduction{
                left: 225px;
                top: 45%;
            }
            &#price-benchmarking{
                top: 60%;
            }
        }
    }

    .cap-desc{
        visibility: hidden;
        opacity: 0;
        height: auto;
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 35px;
        border: 6px solid $green;
        background: white;
        width: 80%;
        color: black;
        transition: all .25s ease-in;
        font-size: 20px;
        z-index: 8;
        @include mq($S){
            width: 50%;
        }
        @include mq($M){
            width: 30%;
        }
        &.active{
            visibility: visible;
            opacity: 1;
        }
        p{
            font-size: 16px;
        }
    }
#mtns{
    .mtn{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: -1;
    }
}
#roadmap {
    height: 850px;
    position: relative;
    padding-top: 1em;
    @include mq($M){
        padding-top: 0;
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.4);
        @include mq($M){
            display: none;
        }
    }
    img{
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .route{
        color: white;
        position: relative;
        width: 96%;
        left: 15px;
        right: 15px;
        padding-right: 15px;
        @include mq($M){
            position: absolute;
            width: 15%;
            padding-right: 0;
        }
        p{
            font-size: 14px;
        }
    }
    .analysis{
        width: 96%;
        left: 15px;
        right: 15px;
        top: 12%;
        @include mq($M){
            left: 3%;
            top: 14%;
            width: 18%;
        }
    }
    .assessment{
        left: 15px;
        right: 15px;
        top: 14%;
        @include mq($M){
            left: 30%;
            right: auto;
            top: 15%;
        }
    }
    .implementation{
        left: 15px;
        right: 15px;
        top: 16%;
        @include mq($M){
            left: 50%;
            top: 13%;
            right: auto;
        }
    }
    .impact{
        left: 15px;
        right: 15px;
        top: 18%;
        @include mq($M){
            left: auto;
            right: 17%;
            top: 14%;
        }
    }
    .result{
        top: 20%;
        left: 15px;
        right: 15px;
        @include mq($M){
            top: 4%;
            left: auto;
            right: 2%;
        }
    }
    .title{
        left: 15px;
        text-align: left;
        color: white;
        top: 15px;
        position: absolute;
        h3, p{
            display: inline-block;
        }
        h3{
            padding-right: 15px;
        }
        @include mq($M){
            left: 50px;
            //width: 50%;
        }
    }
}
#icon-map{
    .green-subhead {
        &:before{
            height: 110px;
            top: 8px;
        }
        p {
            padding-left: 30px;
        }
    }
}
#video{
    background-color: $blue;
    height: 500px;
    .chat-bubble{
        display: none;
        z-index: 9;
        font-family: $bebas-bold;
        height: 100px;
        width: 100px;
        background: url('assets/img/chat-bubble.png') no-repeat center center;
        background-size: contain;
        position: absolute;
        right: 30px;
        top: 15px;
        text-decoration: none;
        padding-top: 25px;
        padding-left: 15px;
        font-size: 24px;
        text-transform: uppercase;
        @include mq($M){
            display: block
        }
    }
    .btn-green{
        display: none;
        z-index: 9;
        font-family: $bebas-bold;
        position: absolute;
        right: 30px;
        top: 15px;
        @include mq($M){
            display: block
        }
    }
    @include mq($M){
        height: 100%;
    }
}
