#home{
    background: linear-gradient(to top, rgba(116,116,116,1) 0%,rgba(0,0,0,0) 100%);
}
#slider{
    .arrow-prev, .arrow-next{
        z-index: 998;
        font-size: 44px;
        position: absolute;
        display: block;
        cursor: pointer;
        top: 50%;
        transform: translate(0, -50%);
        padding: 0;
        border: none;
        outline: none;
    }
    .arrow-prev {
        left: 15px;
    }
    .arrow-next{
        right: 15px;
    }
    .slick-dots {
        bottom: 30px;
        li button:before {
            font-size: 14px;
        }
    }
    .slick-slide{
        position: relative;
        background-size: cover;
        height: 350px;
        background-repeat: no-repeat;
        background-position: center center;
        @include mq($M){
            height: 450px;
        }
        h1{
            line-height: 1;
            padding-top: 15px;
            @include mq($S){
                line-height: 1.3;
                padding-top: 1em;
            }
        }
        .btn-green{
            position: absolute;
            bottom: 20%;
        }
        .btn-one{
            @include horz-align;
            position: absolute;
        }
        .btn-left{
            left: 15px;
            @include mq($M){
                left: 35%;
            }
        }
        .btn-right{
            right: 15px;
            @include mq($M){
                right: 35%;
            }
        }
    }
    video{
        position: absolute;
        width: auto;
        z-index: -1;
        top: 0;
        @include mq($M){
            top: -50px;
        }
        @include mq($L){
            top: -100px;
        }
        @include mq('min-width:1400px'){
            top: -200px;
        }
    }
}
#capabilities {
    height: 800px;
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    @include mq('min-width:1500px'){
        height: 1000px;
    }
    .title{
        @include horz-align;
    }
}
#solutions-line{
    position: absolute;
    top: 145px;
    width: 500px;
    left: 30%;
    z-index: 1;
    display: none;
    @include mq($S){
        display: block;
    }
    @include mq('min-width:1600px'){
        top: 200px;
        width: 800px;
        left: 20%;
    }
}
#real-time-line{
    position: absolute;
    top: 115px;
    width: 600px;
    left: 20%;
    z-index: 1;
    display: none;
    @include mq($S){
        display: block;
    }
    @include mq($XL){
        width: 700px;
        left: 15%;
    }
    @include mq('min-width:1600px'){
        width: 1000px;
        left: 15%;
    }
}
#benchmarking-line{
    position: absolute;
    transform: rotateX(-180deg);
    top: 500px;
    width: 600px;
    left: 15%;
    z-index: 1;
    display: none;
    @include mq($S){
        display: block;
    }
    @include mq($XL){
        width: 700px;
        left: 15%;
    }
    @include mq('min-width:1600px'){
        top: 500px;
        width: 1000px;
        left: 12%;
    }
}
#contract-line{
    position: absolute;
    top: 360px;
    width: 250px;
    left: 50%;
    z-index: 1;
    display: none;
    @include mq($S){
        display: block;
    }
    @include mq($XL){
        width: 350px;
        left: 45%;
    }
    @include mq('min-width:1600px'){
        top: 425px;
        width: 500px;
        left: 35%;
    }
}
#contact-line{
    position: absolute;
    top: 360px;
    width: 650px;
    left: 20%;
    z-index: 1;
    display: none;
    @include mq($S){
        display: block;
    }
    @include mq($XL){
        left: 15%;
    }
    @include mq('min-width:1600px'){
        top: 420px;
        width: 850px;
        left: 10%;
    }
}
#risk-reduction-line{
    position: absolute;
    transform: rotateX(-180deg);
    top: 460px;
    width: 500px;
    left: 30%;
    z-index: 1;
    display: none;
    @include mq($S){
        display: block;
    }
    @include mq('min-width:1600px'){
        top: 540px;
        width: 800px;
        left: 20%;
    }
}
.solutions-line, .risk-reduction-line{
    stroke-dasharray: 850;
    stroke-dashoffset: 850;
    &.active{
        animation: draw 0.5s linear forwards;
    }
}
.real-time-line, .benchmarking-line{
    stroke-dasharray: 693;
    stroke-dashoffset: 693;
    &.active{
        animation: draw 0.5s linear forwards;
    }
}
.contract-line{
    stroke-dasharray: 296;
    stroke-dashoffset: 296;
    &.active{
        animation: draw 0.5s linear forwards;
    }
}
.contact-line{
    stroke-dasharray: 649;
    stroke-dashoffset: 649;
    &.active{
        animation: draw 0.5s linear forwards;
    }
}
@keyframes draw {
    to{
        stroke-dashoffset: 0;
    }
}
.clip-svg {
  width: 0;
  height: 0;
}
.cap {
    background: rgba(0,0,0,0.6);
    width: 185px;
    height: 185px;
    background-size: cover;
    display: block;
    position: absolute;
    transition: all 0.3s ease-in;
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    -webkit-clip-path: url("#hexagon-clip");
    clip-path: url("#hexagon-clip");
    margin: 0 auto;
    color: #fff;
    left: 15px;
    z-index: 9;
        &#real-time{
            top: 10%;
        }
        &#solutions{
            left: 160px;
            top: 23%;
        }
        &#contract{
            left: 160px;
            top: 74%;
        }
        &#contact{
            top: 36%;
        }
        &#risk-reduction{
            left: 160px;
            top: 49%;
        }
        &#benchmarking{
            top: 61%;
        }
        h5, .cap-icon{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        h5{
            top: 35%;
            width: 70%;
            text-align: center;
        }
        .cap-icon{
            visibility:hidden;
            opacity: 0;
            top: 15%;
            width: 50px;
            @include mq($S){
                width: 70px;
            }
        }
        &:hover, &.active{
            background: $green !important;
            transition: all 0.3s ease-in;
            h5{
                top: 50%;
            }
            h5, .cap-icon{
                transition: all 0.3s ease-in;
                visibility: visible;
                opacity: 1;
            }
        }
        @include mq($M){
            width: 250px;
            height: 250px;
            &#real-time{
                top: 0;
            }
            &#solutions{
                left: 225px;
                top: 15%;
            }
            &#contract{
                left: 440px;
                top: 30%;
            }
            &#contact{
                top: 30%;
            }
            &#risk-reduction{
                left: 225px;
                top: 45%;
            }
            &#benchmarking{
                top: 60%;
            }
        }
    }

    .cap-desc{
        visibility: hidden;
        opacity: 0;
        height: auto;
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 35px;
        border: 6px solid $green;
        background: white;
        width: 80%;
        color: black;
        transition: all .25s ease-in;
        font-size: 20px;
        z-index: 999;
        @include mq($S){
            width: 50%;
        }
        @include mq($M){
            width: 30%;
        }
        &.active{
            visibility: visible;
            opacity: 1;
        }
        p{
            font-size: 16px;
        }
    }
#mtns{
    .mtn{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: -1;
    }
}
#icon-map{
    .green-subhead {
        &:before{
            height: 110px;
            top: 8px;
        }
        p {
            padding-left: 30px;
        }
    }
}
#video{
    background-color: $blue;
    height: 500px;
    .chat-bubble{
        z-index: 9;
        font-family: $bebas-bold;
        height: 100px;
        width: 100px;
        background: url('assets/img/chat-bubble.png') no-repeat center center;
        background-size: contain;
        position: absolute;
        right: 20px;
        top: 10px;
        text-decoration: none;
        padding-top: 25px;
        padding-left: 15px;
        font-size: 24px;
        text-transform: uppercase;
    }
    @include mq($M){
        height: 100%;
    }
    video{
        width: 100%;
    }
}
