
nav{
    height: auto;
    overflow: hidden;
    .menu-row{
        position: relative;
        top: 0;
        &.hide{
            position: absolute;
            top: -200px;
            transition: all 1s linear;
        }
    }
    img{
        max-width: 100%;
    }
    h4.green{
        padding-bottom: 10px;
        font-size: 28px;
        @include mq($M){
            font-size: 22px;
        }
    }
    .logo-text{
        height: 85px;
        h4{
            @include vertical-align;
        }
        @include mq($M){
            height: auto;
        }
    }
}
#menu-btn{
    cursor: pointer;
    opacity: 1;
    visibility: visible;
    position: fixed;
    text-decoration: none;
    font-size: 14px;
	width: 50px;
	height: 50px;
    top: 10px;
    right: 5px;
    z-index: 9999;
    transition: 0.5s all linear;
    @include mq($M){
        top: 25px;
        right: 30px;
        opacity: 0;
        visibility: hidden;
    }
    img{
        height: 50px;
    }
    p{
        font-family: $bebas-bold;
        font-size: 16px;
        margin: 0;
        padding-left: 10px;
    }
    .icon-bar{
        display: block;
        position: absolute;
        height: 4px;
        width: 50%;
        background: $green;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    &.active{
        opacity: 1;
        visibility: visible;
    }
}
#menu-left, #menu-right{
    position: fixed;
    transition: 1s all linear;
    height: auto;
    z-index: 999;
    width: 145px;
    @include mq($M){
        width: auto;
    }
    li {
        display: block;
        padding: 15px;
        @include mq($M){
            display: inline-block;
        }
        a{
            font-family: $bebas-bold;
            color: $blue;
            text-decoration: none;
            font-size: 22px;
        }
    }

}
#menu-left{
    text-align: right;
    right: -400px;
    top: 100px;
    transition: 0.5s right linear;
    background-color: white;
    border-top: 2px solid $blue;
    border-left: 2px solid $blue;
    @include mq($M){
        border: none;
        transition: 1s all linear;
        background-color: transparent;
        top: auto;
        right: 66.666%;
    }
    &.hide{
        right: -2000px;
    }
    &.active{
        background-color: white;
        right: 0;
        @include mq($M){
            right: 33.333%;
        }
        // li{
        //     @include mq($M){
        //         border: 2px solid $blue;
        //     }
        // }
    }
}
#menu-right{
    right: -400px;
    top: 260px;
    text-align: right;
    transition: 0.5s right linear;
    background-color: white;
    border-bottom: 2px solid $blue;
    border-left: 2px solid $blue;
    @include mq($M){
        border: none;
        transition: 0.5s right linear;
        background-color: transparent;
        top: auto;
        right: calc(38.333% - 289px);
    }
    &.hide{
        right: -1000px;
    }
    &.active{
        background-color: white;
        right: 0;
        @include mq($M){
            right: calc(33.333% - 289px);
        }
    }
}
.logo-right{
    display: none;
    @include mq($M){
        display: flex;
    }
}
.logo-left{
    display: none;
    @include mq($M){
        display: flex;
        border-right: 1px solid black;
    }
    a{
        margin: 0 auto;
    }
}
.nav-logo{
    height: 65px;
}
