
//bebas bold, reg and roboto

@font-face {
  font-family: 'Bebas Regular';
  src: url('./sass/fonts/bebas-reg/bebasneue_regular.woff2') format('woff2'),
      url('./sass/fonts/bebas-reg/bebasneue_regular.woff') format('woff'),
      url('./sass/fonts/bebas-reg/bebasneue_regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Bold';
  src: url('./sass/fonts/bebas-bold/bebasneue_bold.woff2') format('woff2'),
      url('./sass/fonts/bebas-bold/bebasneue_bold.woff') format('woff'),
      url('./sass/fonts/bebas-bold/bebasneue_regular.ttf') format('truetype');
  font-style: normal;
}

h1, h2 {
    font-family: $bebas-bold;
    font-weight: normal;
    line-height: 1.3;
    margin: 0;
}
h3, h4, h5, h6{
    font-family: $bebas;
    line-height: 1.3;
    margin: 0;
}
h1{
    font-size: 48px;
    @include mq($M){
        font-size: 72px;
    }
}
h2{
    font-size: 36px;
    line-height: 1;
    @include mq($M){
        font-size: 60px;
    }
}
h3{
    font-size: 26px;
    @include mq($M){
        font-size: 36px;
    }

}
h4{
    font-size: 22px;
    @include mq($M){
        font-size: 30px;
    }

}
h5{
    font-size: 20px;
    @include mq($M){
        font-size: 26px;
    }
}
h6{
    font-size: 22px;
}
p{
    margin-bottom: 0;
    margin-top: 0;
    &.lead{
        font-size: 20px;
    }
    &.lead-m{
        font-size: 20px;
    }
    .small{
        font-size: 12px;
    }
}
p, a, button, input {
    font-family: $roboto;
}
