
nav{
    height: 145px;
    @include mq($M){
        height: auto;
    }
}
#menu-left, #menu-right{
    height: 60px;
    @include mq($M){
        height: 132px;
    }
    li {
        @include vertical-align;
        display: inline-block;
        padding: 5px 14px;
        a{
            font-family: $bebas-bold;
            color: $blue;
            text-decoration: none;
            font-size: 22px;
        }
    }

}
#menu-left{
    padding-right: 2em;
    text-align: left;
    @include mq($M){
        text-align: right;
    }
}
#menu-right{
    text-align: right;
    @include mq($M){
        text-align: left;
    }
}
.logo-right{
    display: none;
    @include mq($M){
        display: flex;
    }
}
.logo-left{
    flex: 0 0 33.333333%;
    max-width: 33.33333%;
    @include mq($M){
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
        border-right: 1px solid black;
    }
    h4{
        font-size: 20px;
        display: none;
        @include mq($M){
            display: block;
        }
    }
    h6{
        font-size: 12px;
        display: none;
        @include mq($M){
            display: block;
        }
    }
}
.nav-logo{
    float: left;
    height: 90px;
    @include mq($M){
        height: 100px;
    }
}
