
//bebas bold, reg and roboto

@font-face {
  font-family: 'Bebas Regular';
  src: url('./fonts/bebas-reg/bebaseneue_regular.woff2') format('woff2'),
      url('./fonts/bebas-reg/bebaseneue_regular.woff') format('woff'),
      url('./fonts/bebas-reg/bebaseneue_regular.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Bold';
  src: url('./fonts/bebas-reg/bebaseneue_bold.woff2') format('woff2'),
      url('./fonts/bebas-reg/bebaseneue_bold.woff') format('woff'),
      url('./fonts/bebas-reg/bebaseneue_regular.ttf') format('truetype');
  font-style: normal;
}

h1, h2, h3 {
    font-family: $bebas-bold;
    font-weight: normal;
    line-height: 1.3;
}
h4, h5, h6{
    font-family: $bebas;
    line-height: 1.3;
}
p, a, button, input {
    font-family: $roboto;
}
