@charset "UTF-8";
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-1 {
    order: 1; }
  .order-sm-2 {
    order: 2; }
  .order-sm-3 {
    order: 3; }
  .order-sm-4 {
    order: 4; }
  .order-sm-5 {
    order: 5; }
  .order-sm-6 {
    order: 6; }
  .order-sm-7 {
    order: 7; }
  .order-sm-8 {
    order: 8; }
  .order-sm-9 {
    order: 9; }
  .order-sm-10 {
    order: 10; }
  .order-sm-11 {
    order: 11; }
  .order-sm-12 {
    order: 12; } }

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-md-1 {
    order: 1; }
  .order-md-2 {
    order: 2; }
  .order-md-3 {
    order: 3; }
  .order-md-4 {
    order: 4; }
  .order-md-5 {
    order: 5; }
  .order-md-6 {
    order: 6; }
  .order-md-7 {
    order: 7; }
  .order-md-8 {
    order: 8; }
  .order-md-9 {
    order: 9; }
  .order-md-10 {
    order: 10; }
  .order-md-11 {
    order: 11; }
  .order-md-12 {
    order: 12; } }

@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-1 {
    order: 1; }
  .order-lg-2 {
    order: 2; }
  .order-lg-3 {
    order: 3; }
  .order-lg-4 {
    order: 4; }
  .order-lg-5 {
    order: 5; }
  .order-lg-6 {
    order: 6; }
  .order-lg-7 {
    order: 7; }
  .order-lg-8 {
    order: 8; }
  .order-lg-9 {
    order: 9; }
  .order-lg-10 {
    order: 10; }
  .order-lg-11 {
    order: 11; }
  .order-lg-12 {
    order: 12; } }

@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-1 {
    order: 1; }
  .order-xl-2 {
    order: 2; }
  .order-xl-3 {
    order: 3; }
  .order-xl-4 {
    order: 4; }
  .order-xl-5 {
    order: 5; }
  .order-xl-6 {
    order: 6; }
  .order-xl-7 {
    order: 7; }
  .order-xl-8 {
    order: 8; }
  .order-xl-9 {
    order: 9; }
  .order-xl-10 {
    order: 10; }
  .order-xl-11 {
    order: 11; }
  .order-xl-12 {
    order: 12; } }

.flex-row {
  flex-direction: row !important; }

.flex-column {
  flex-direction: column !important; }

.flex-row-reverse {
  flex-direction: row-reverse !important; }

.flex-column-reverse {
  flex-direction: column-reverse !important; }

.flex-wrap {
  flex-wrap: wrap !important; }

.flex-nowrap {
  flex-wrap: nowrap !important; }

.flex-wrap-reverse {
  flex-wrap: wrap-reverse !important; }

.justify-content-start {
  justify-content: flex-start !important; }

.justify-content-end {
  justify-content: flex-end !important; }

.justify-content-center {
  justify-content: center !important; }

.justify-content-between {
  justify-content: space-between !important; }

.justify-content-around {
  justify-content: space-around !important; }

.align-items-start {
  align-items: flex-start !important; }

.align-items-end {
  align-items: flex-end !important; }

.align-items-center {
  align-items: center !important; }

.align-items-baseline {
  align-items: baseline !important; }

.align-items-stretch {
  align-items: stretch !important; }

.align-content-start {
  align-content: flex-start !important; }

.align-content-end {
  align-content: flex-end !important; }

.align-content-center {
  align-content: center !important; }

.align-content-between {
  align-content: space-between !important; }

.align-content-around {
  align-content: space-around !important; }

.align-content-stretch {
  align-content: stretch !important; }

.align-self-auto {
  align-self: auto !important; }

.align-self-start {
  align-self: flex-start !important; }

.align-self-end {
  align-self: flex-end !important; }

.align-self-center {
  align-self: center !important; }

.align-self-baseline {
  align-self: baseline !important; }

.align-self-stretch {
  align-self: stretch !important; }

@media (min-width: 576px) {
  .flex-sm-row {
    flex-direction: row !important; }
  .flex-sm-column {
    flex-direction: column !important; }
  .flex-sm-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-sm-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-sm-wrap {
    flex-wrap: wrap !important; }
  .flex-sm-nowrap {
    flex-wrap: nowrap !important; }
  .flex-sm-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .justify-content-sm-start {
    justify-content: flex-start !important; }
  .justify-content-sm-end {
    justify-content: flex-end !important; }
  .justify-content-sm-center {
    justify-content: center !important; }
  .justify-content-sm-between {
    justify-content: space-between !important; }
  .justify-content-sm-around {
    justify-content: space-around !important; }
  .align-items-sm-start {
    align-items: flex-start !important; }
  .align-items-sm-end {
    align-items: flex-end !important; }
  .align-items-sm-center {
    align-items: center !important; }
  .align-items-sm-baseline {
    align-items: baseline !important; }
  .align-items-sm-stretch {
    align-items: stretch !important; }
  .align-content-sm-start {
    align-content: flex-start !important; }
  .align-content-sm-end {
    align-content: flex-end !important; }
  .align-content-sm-center {
    align-content: center !important; }
  .align-content-sm-between {
    align-content: space-between !important; }
  .align-content-sm-around {
    align-content: space-around !important; }
  .align-content-sm-stretch {
    align-content: stretch !important; }
  .align-self-sm-auto {
    align-self: auto !important; }
  .align-self-sm-start {
    align-self: flex-start !important; }
  .align-self-sm-end {
    align-self: flex-end !important; }
  .align-self-sm-center {
    align-self: center !important; }
  .align-self-sm-baseline {
    align-self: baseline !important; }
  .align-self-sm-stretch {
    align-self: stretch !important; } }

@media (min-width: 768px) {
  .flex-md-row {
    flex-direction: row !important; }
  .flex-md-column {
    flex-direction: column !important; }
  .flex-md-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-md-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-md-wrap {
    flex-wrap: wrap !important; }
  .flex-md-nowrap {
    flex-wrap: nowrap !important; }
  .flex-md-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .justify-content-md-start {
    justify-content: flex-start !important; }
  .justify-content-md-end {
    justify-content: flex-end !important; }
  .justify-content-md-center {
    justify-content: center !important; }
  .justify-content-md-between {
    justify-content: space-between !important; }
  .justify-content-md-around {
    justify-content: space-around !important; }
  .align-items-md-start {
    align-items: flex-start !important; }
  .align-items-md-end {
    align-items: flex-end !important; }
  .align-items-md-center {
    align-items: center !important; }
  .align-items-md-baseline {
    align-items: baseline !important; }
  .align-items-md-stretch {
    align-items: stretch !important; }
  .align-content-md-start {
    align-content: flex-start !important; }
  .align-content-md-end {
    align-content: flex-end !important; }
  .align-content-md-center {
    align-content: center !important; }
  .align-content-md-between {
    align-content: space-between !important; }
  .align-content-md-around {
    align-content: space-around !important; }
  .align-content-md-stretch {
    align-content: stretch !important; }
  .align-self-md-auto {
    align-self: auto !important; }
  .align-self-md-start {
    align-self: flex-start !important; }
  .align-self-md-end {
    align-self: flex-end !important; }
  .align-self-md-center {
    align-self: center !important; }
  .align-self-md-baseline {
    align-self: baseline !important; }
  .align-self-md-stretch {
    align-self: stretch !important; } }

@media (min-width: 992px) {
  .flex-lg-row {
    flex-direction: row !important; }
  .flex-lg-column {
    flex-direction: column !important; }
  .flex-lg-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-lg-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-lg-wrap {
    flex-wrap: wrap !important; }
  .flex-lg-nowrap {
    flex-wrap: nowrap !important; }
  .flex-lg-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .justify-content-lg-start {
    justify-content: flex-start !important; }
  .justify-content-lg-end {
    justify-content: flex-end !important; }
  .justify-content-lg-center {
    justify-content: center !important; }
  .justify-content-lg-between {
    justify-content: space-between !important; }
  .justify-content-lg-around {
    justify-content: space-around !important; }
  .align-items-lg-start {
    align-items: flex-start !important; }
  .align-items-lg-end {
    align-items: flex-end !important; }
  .align-items-lg-center {
    align-items: center !important; }
  .align-items-lg-baseline {
    align-items: baseline !important; }
  .align-items-lg-stretch {
    align-items: stretch !important; }
  .align-content-lg-start {
    align-content: flex-start !important; }
  .align-content-lg-end {
    align-content: flex-end !important; }
  .align-content-lg-center {
    align-content: center !important; }
  .align-content-lg-between {
    align-content: space-between !important; }
  .align-content-lg-around {
    align-content: space-around !important; }
  .align-content-lg-stretch {
    align-content: stretch !important; }
  .align-self-lg-auto {
    align-self: auto !important; }
  .align-self-lg-start {
    align-self: flex-start !important; }
  .align-self-lg-end {
    align-self: flex-end !important; }
  .align-self-lg-center {
    align-self: center !important; }
  .align-self-lg-baseline {
    align-self: baseline !important; }
  .align-self-lg-stretch {
    align-self: stretch !important; } }

@media (min-width: 1200px) {
  .flex-xl-row {
    flex-direction: row !important; }
  .flex-xl-column {
    flex-direction: column !important; }
  .flex-xl-row-reverse {
    flex-direction: row-reverse !important; }
  .flex-xl-column-reverse {
    flex-direction: column-reverse !important; }
  .flex-xl-wrap {
    flex-wrap: wrap !important; }
  .flex-xl-nowrap {
    flex-wrap: nowrap !important; }
  .flex-xl-wrap-reverse {
    flex-wrap: wrap-reverse !important; }
  .justify-content-xl-start {
    justify-content: flex-start !important; }
  .justify-content-xl-end {
    justify-content: flex-end !important; }
  .justify-content-xl-center {
    justify-content: center !important; }
  .justify-content-xl-between {
    justify-content: space-between !important; }
  .justify-content-xl-around {
    justify-content: space-around !important; }
  .align-items-xl-start {
    align-items: flex-start !important; }
  .align-items-xl-end {
    align-items: flex-end !important; }
  .align-items-xl-center {
    align-items: center !important; }
  .align-items-xl-baseline {
    align-items: baseline !important; }
  .align-items-xl-stretch {
    align-items: stretch !important; }
  .align-content-xl-start {
    align-content: flex-start !important; }
  .align-content-xl-end {
    align-content: flex-end !important; }
  .align-content-xl-center {
    align-content: center !important; }
  .align-content-xl-between {
    align-content: space-between !important; }
  .align-content-xl-around {
    align-content: space-around !important; }
  .align-content-xl-stretch {
    align-content: stretch !important; }
  .align-self-xl-auto {
    align-self: auto !important; }
  .align-self-xl-start {
    align-self: flex-start !important; }
  .align-self-xl-end {
    align-self: flex-end !important; }
  .align-self-xl-center {
    align-self: center !important; }
  .align-self-xl-baseline {
    align-self: baseline !important; }
  .align-self-xl-stretch {
    align-self: stretch !important; } }

@font-face {
  font-family: 'Bebas Regular';
  src: url("./sass/fonts/bebas-reg/bebasneue_regular.woff2") format("woff2"), url("./sass/fonts/bebas-reg/bebasneue_regular.woff") format("woff"), url("./sass/fonts/bebas-reg/bebasneue_regular.ttf") format("truetype");
  font-style: normal; }

@font-face {
  font-family: 'Bebas Bold';
  src: url("./sass/fonts/bebas-bold/bebasneue_bold.woff2") format("woff2"), url("./sass/fonts/bebas-bold/bebasneue_bold.woff") format("woff"), url("./sass/fonts/bebas-bold/bebasneue_regular.ttf") format("truetype");
  font-style: normal; }

h1, h2 {
  font-family: "Bebas Bold", "Roboto", arial, sans-serif;
  font-weight: normal;
  line-height: 1.3;
  margin: 0; }

h3, h4, h5, h6 {
  font-family: "Bebas Regular", "Roboto", arial, sans-serif;
  line-height: 1.3;
  margin: 0; }

h1 {
  font-size: 48px; }
  @media (min-width: 992px) {
    h1 {
      font-size: 72px; } }

h2 {
  font-size: 36px;
  line-height: 1; }
  @media (min-width: 992px) {
    h2 {
      font-size: 60px; } }

h3 {
  font-size: 26px; }
  @media (min-width: 992px) {
    h3 {
      font-size: 36px; } }

h4 {
  font-size: 22px; }
  @media (min-width: 992px) {
    h4 {
      font-size: 30px; } }

h5 {
  font-size: 20px; }
  @media (min-width: 992px) {
    h5 {
      font-size: 26px; } }

h6 {
  font-size: 22px; }

p {
  margin-bottom: 0;
  margin-top: 0; }
  p.lead {
    font-size: 20px; }
  p.lead-m {
    font-size: 20px; }
  p .small {
    font-size: 12px; }

p, a, button, input {
  font-family: "Roboto", sans-serif; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: grey;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: blue;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.byline,
.updated:not(.published) {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

* {
  box-sizing: border-box; }

html, body {
  font-size: 16px; }

.content {
  position: relative; }

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block; }

.white {
  color: #fff; }

.blue {
  color: #003e8e; }

.green {
  color: #35b729; }

sup {
  top: -1.5em; }

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none; }

.inline {
  display: inline-block; }

.text-center {
  text-align: center; }

.padded {
  padding: 1em; }

.padded-right {
  padding-right: 1em; }

.padded-left {
  padding-left: 1em; }

.padded-vert {
  padding-top: 1em;
  padding-bottom: 1em; }

.padded-vert2x {
  padding-top: 2em;
  padding-bottom: 2em; }

.padded-footer {
  padding-bottom: 4em; }

.padded-horz {
  padding-left: 1em;
  padding-right: 1em; }

.padded-top {
  padding-top: 1em; }

.padded-top2x {
  padding-top: 2em; }

.padded-top-mobile {
  padding-top: 2em; }
  @media (min-width: 992px) {
    .padded-top-mobile {
      padding-top: 0; } }

.padded-bottom {
  padding-bottom: 1em; }

.padded-bottom2x {
  padding-bottom: 2em; }

.margin-vert {
  margin-top: 1em;
  margin-bottom: 1em; }

.margin-top2x {
  margin-top: 2em; }

.margin-top {
  margin-top: 1em; }

.margin-bottom {
  margin-bottom: 1em; }

.margin-bottom2x {
  margin-bottom: 2em; }

.clearfix {
  content: "";
  display: table;
  table-layout: fixed;
  clear: both; }

.btn-green {
  padding: 8px 20px;
  background-color: white;
  color: #35b729;
  border: 4px solid #35b729;
  border-radius: 0px;
  text-decoration: none;
  font-family: "Bebas Regular", "Roboto", arial, sans-serif;
  font-size: 24px;
  transition: all .3s ease-in; }
  .btn-green:hover {
    color: white;
    background-color: #35b729; }

.green-subhead:before {
  float: left;
  display: block;
  height: 65px;
  width: 10px;
  background: #35b729;
  content: '';
  position: relative;
  top: 8px; }

.green-subhead h4, .green-subhead h1 {
  padding-left: 30px; }

.green-subhead h1 {
  line-height: 1; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.white-box {
  margin-top: 2em;
  background-color: rgba(255, 255, 255, 0.6); }

footer .col-md-4 {
  height: 70px;
  text-align: left;
  position: relative; }
  @media (min-width: 992px) {
    footer .col-md-4 {
      height: 90px; } }
  footer .col-md-4 a, footer .col-md-4 p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    margin: 0; }

nav {
  height: auto;
  overflow: hidden; }
  nav .menu-row {
    position: relative;
    top: 0; }
    nav .menu-row.hide {
      position: absolute;
      top: -200px;
      transition: all 1s linear; }
  nav img {
    max-width: 100%; }
  nav h4.green {
    padding-bottom: 10px;
    font-size: 28px; }
    @media (min-width: 992px) {
      nav h4.green {
        font-size: 22px; } }
  nav .logo-text {
    height: 85px; }
    nav .logo-text h4 {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
    @media (min-width: 992px) {
      nav .logo-text {
        height: auto; } }

#menu-btn {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  position: fixed;
  text-decoration: none;
  font-size: 14px;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 5px;
  z-index: 9999;
  transition: 0.5s all linear; }
  @media (min-width: 992px) {
    #menu-btn {
      top: 25px;
      right: 30px;
      opacity: 0;
      visibility: hidden; } }
  #menu-btn img {
    height: 50px; }
  #menu-btn p {
    font-family: "Bebas Bold", "Roboto", arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding-left: 10px; }
  #menu-btn .icon-bar {
    display: block;
    position: absolute;
    height: 4px;
    width: 50%;
    background: #35b729;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
  #menu-btn.active {
    opacity: 1;
    visibility: visible; }

#menu-left, #menu-right {
  position: fixed;
  transition: 1s all linear;
  height: auto;
  z-index: 999;
  width: 145px; }
  @media (min-width: 992px) {
    #menu-left, #menu-right {
      width: auto; } }
  #menu-left li, #menu-right li {
    display: block;
    padding: 15px; }
    @media (min-width: 992px) {
      #menu-left li, #menu-right li {
        display: inline-block; } }
    #menu-left li a, #menu-right li a {
      font-family: "Bebas Bold", "Roboto", arial, sans-serif;
      color: #003e8e;
      text-decoration: none;
      font-size: 22px; }

#menu-left {
  text-align: right;
  right: -400px;
  top: 100px;
  transition: 0.5s right linear;
  background-color: white;
  border-top: 2px solid #003e8e;
  border-left: 2px solid #003e8e; }
  @media (min-width: 992px) {
    #menu-left {
      border: none;
      transition: 1s all linear;
      background-color: transparent;
      top: auto;
      right: 66.666%; } }
  #menu-left.hide {
    right: -2000px; }
  #menu-left.active {
    background-color: white;
    right: 0; }
    @media (min-width: 992px) {
      #menu-left.active {
        right: 33.333%; } }

#menu-right {
  right: -400px;
  top: 215px;
  text-align: right;
  transition: 0.5s right linear;
  background-color: white;
  border-bottom: 2px solid #003e8e;
  border-left: 2px solid #003e8e; }
  @media (min-width: 992px) {
    #menu-right {
      border: none;
      transition: 0.5s right linear;
      background-color: transparent;
      top: auto;
      right: calc(38.333% - 289px); } }
  #menu-right.hide {
    right: -1000px; }
  #menu-right.active {
    background-color: white;
    right: 0; }
    @media (min-width: 992px) {
      #menu-right.active {
        right: calc(33.333% - 289px); } }

.logo-right {
  display: none; }
  @media (min-width: 992px) {
    .logo-right {
      display: flex; } }

.logo-left {
  display: none; }
  @media (min-width: 992px) {
    .logo-left {
      display: flex;
      border-right: 1px solid black; } }
  .logo-left a {
    margin: 0 auto; }

.nav-logo {
  height: 65px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./sass/fonts/slick.eot");
  src: url("./sass/fonts/slick.eot?#iefix") format("embedded-opentype"), url("./sass/fonts/slick.woff") format("woff"), url("./sass/fonts/slick.ttf") format("truetype"), url("./sass/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

#Contact {
  height: 100%;
  background-color: #003e8e; }
  #Contact h1 {
    color: white; }
  #Contact p {
    color: white; }
  #Contact .wpcf7-form {
    padding-top: 2em; }
    #Contact .wpcf7-form .form-container {
      background-color: white; }
    #Contact .wpcf7-form p {
      color: black;
      line-height: 2;
      padding: 0 1em; }
    #Contact .wpcf7-form select {
      line-height: 2.2;
      max-width: 215px;
      width: 215px;
      background-image: url("assets/icons/chevron-down.svg");
      background-repeat: no-repeat;
      background-size: 20px 9px;
      background-position: 100% 50%;
      padding-right: 20px;
      background-color: white;
      border: none;
      text-align: center;
      border-bottom: 2px solid #003e8e;
      padding: 0 .25em;
      margin: 0 .25em;
      border-radius: 0;
      -webkit-appearance: none;
      appearance: none;
      text-transform: none;
      color: #003e8e;
      font-size: 18px; }
      #Contact .wpcf7-form select:focus {
        outline: 0; }
    #Contact .wpcf7-form textarea {
      width: 100%;
      border: 2px solid #003e8e; }
    #Contact .wpcf7-form input[type="text"], #Contact .wpcf7-form input[type="email"] {
      display: inline-block;
      padding: 10px;
      border: none;
      width: 140px;
      color: #003e8e;
      font-size: 18px;
      border-bottom: 2px solid #003e8e; }
      @media (min-width: 992px) {
        #Contact .wpcf7-form input[type="text"], #Contact .wpcf7-form input[type="email"] {
          width: 225px; } }
    #Contact .wpcf7-form .btn-green {
      position: relative;
      margin-top: 1em; }

.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%; }
  .main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 1.5em;
      left: -999em;
      z-index: 99999; }
      .main-navigation ul ul ul {
        left: -999em;
        top: 0; }
      .main-navigation ul ul li:hover > ul,
      .main-navigation ul ul li.focus > ul {
        left: 100%; }
      .main-navigation ul ul a {
        width: 200px; }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      left: auto; }
  .main-navigation li {
    float: left;
    position: relative; }
  .main-navigation a {
    display: block;
    text-decoration: none; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }
  .main-navigation ul {
    display: block; } }

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

#home {
  background: linear-gradient(to top, #747474 0%, transparent 100%); }

#slider .arrow-prev, #slider .arrow-next {
  z-index: 998;
  font-size: 44px;
  position: absolute;
  display: block;
  cursor: pointer;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }

#slider .arrow-prev {
  left: 15px; }

#slider .arrow-next {
  right: 15px; }

#slider .slick-dots {
  bottom: 30px; }
  #slider .slick-dots li button:before {
    font-size: 14px; }

#slider .slick-slide {
  position: relative;
  background-size: cover;
  height: 350px;
  background-repeat: no-repeat;
  background-position: center center; }
  @media (min-width: 992px) {
    #slider .slick-slide {
      height: 450px; } }
  #slider .slick-slide h1 {
    line-height: 1;
    padding-top: 15px; }
    @media (min-width: 768px) {
      #slider .slick-slide h1 {
        line-height: 1.3;
        padding-top: 1em; } }
  #slider .slick-slide .btn-green {
    position: absolute;
    bottom: 20%; }
  #slider .slick-slide .btn-one {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    position: absolute; }
  #slider .slick-slide .btn-left {
    left: 15px; }
    @media (min-width: 992px) {
      #slider .slick-slide .btn-left {
        left: 35%; } }
  #slider .slick-slide .btn-right {
    right: 15px; }
    @media (min-width: 992px) {
      #slider .slick-slide .btn-right {
        right: 35%; } }

#slider video {
  position: absolute;
  width: auto;
  z-index: -1;
  top: 0; }
  @media (min-width: 992px) {
    #slider video {
      top: -50px; } }
  @media (min-width: 1200px) {
    #slider video {
      top: -100px; } }
  @media (min-width: 1400px) {
    #slider video {
      top: -200px; } }

#capabilities {
  height: 800px;
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 1500px) {
    #capabilities {
      height: 1000px; } }
  #capabilities .container {
    max-width: 1250px; }
  #capabilities .title {
    position: relative;
    left: 50%;
    transform: translateX(-50%); }
  #capabilities .cap-row {
    height: 800px; }

#business-procurement-solutions-line {
  position: absolute;
  top: 145px;
  width: 500px;
  left: 30%;
  z-index: 1;
  display: none; }
  @media (min-width: 768px) {
    #business-procurement-solutions-line {
      display: block; } }
  @media (min-width: 1600px) {
    #business-procurement-solutions-line {
      top: 200px;
      width: 800px;
      left: 20%; } }

#real-time-line {
  position: absolute;
  top: 115px;
  width: 600px;
  left: 20%;
  z-index: 1;
  display: none; }
  @media (min-width: 768px) {
    #real-time-line {
      display: block; } }
  @media (min-width: 1400px) {
    #real-time-line {
      width: 700px;
      left: 15%; } }
  @media (min-width: 1600px) {
    #real-time-line {
      width: 1000px;
      left: 15%; } }

#price-benchmarking-line {
  position: absolute;
  transform: rotateX(-180deg);
  top: 500px;
  width: 600px;
  left: 15%;
  z-index: 1;
  display: none; }
  @media (min-width: 768px) {
    #price-benchmarking-line {
      display: block; } }
  @media (min-width: 1400px) {
    #price-benchmarking-line {
      width: 700px;
      left: 15%; } }
  @media (min-width: 1600px) {
    #price-benchmarking-line {
      top: 500px;
      width: 1000px;
      left: 12%; } }

#business-development-line {
  position: absolute;
  top: 360px;
  width: 250px;
  left: 50%;
  z-index: 1;
  display: none; }
  @media (min-width: 768px) {
    #business-development-line {
      display: block; } }
  @media (min-width: 1400px) {
    #business-development-line {
      width: 350px;
      left: 45%; } }
  @media (min-width: 1600px) {
    #business-development-line {
      top: 425px;
      width: 500px;
      left: 35%; } }

#contact-center-analytics-line {
  position: absolute;
  top: 360px;
  width: 650px;
  left: 20%;
  z-index: 1;
  display: none; }
  @media (min-width: 768px) {
    #contact-center-analytics-line {
      display: block; } }
  @media (min-width: 1400px) {
    #contact-center-analytics-line {
      left: 15%; } }
  @media (min-width: 1600px) {
    #contact-center-analytics-line {
      top: 420px;
      width: 850px;
      left: 10%; } }

#cost-and-risk-reduction-line {
  position: absolute;
  transform: rotateX(-180deg);
  top: 460px;
  width: 500px;
  left: 30%;
  z-index: 1;
  display: none; }
  @media (min-width: 768px) {
    #cost-and-risk-reduction-line {
      display: block; } }
  @media (min-width: 1600px) {
    #cost-and-risk-reduction-line {
      top: 540px;
      width: 800px;
      left: 20%; } }

.business-procurement-solutions-line, .cost-and-risk-reduction-line {
  stroke-dasharray: 850;
  stroke-dashoffset: 850; }
  .business-procurement-solutions-line.active, .cost-and-risk-reduction-line.active {
    animation: draw 0.5s linear forwards; }

.real-time-call-intelligence-tools-line, .price-benchmarking-line {
  stroke-dasharray: 693;
  stroke-dashoffset: 693; }
  .real-time-call-intelligence-tools-line.active, .price-benchmarking-line.active {
    animation: draw 0.5s linear forwards; }

.business-development-line {
  stroke-dasharray: 296;
  stroke-dashoffset: 296; }
  .business-development-line.active {
    animation: draw 0.5s linear forwards; }

.contact-center-analytics-line {
  stroke-dasharray: 649;
  stroke-dashoffset: 649; }
  .contact-center-analytics-line.active {
    animation: draw 0.5s linear forwards; }

@keyframes draw {
  to {
    stroke-dashoffset: 0; } }

.clip-svg {
  width: 0;
  height: 0; }

.cap {
  background: rgba(0, 0, 0, 0.6);
  width: 185px;
  height: 185px;
  background-size: cover;
  display: block;
  position: absolute;
  transition: all 0.3s ease-in;
  -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  -webkit-clip-path: url("#hexagon-clip");
  clip-path: url("#hexagon-clip");
  margin: 0 auto;
  color: #fff;
  left: 15px;
  z-index: 9; }
  .cap#real-time-call-intelligence-tools {
    top: 10%; }
  .cap#business-procurement-solutions {
    left: 160px;
    top: 23%; }
  .cap#business-development {
    left: 160px;
    top: 74%; }
  .cap#contact-center-analytics {
    top: 36%; }
  .cap#cost-and-risk-reduction {
    left: 160px;
    top: 49%; }
  .cap#price-benchmarking {
    top: 61%; }
  .cap h5, .cap .cap-icon, .cap p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); }
  .cap p {
    bottom: 15%;
    color: white;
    visibility: hidden;
    opacity: 0; }
  .cap h5 {
    top: 35%;
    width: 85%;
    text-align: center; }
  .cap .cap-icon {
    visibility: hidden;
    opacity: 0;
    top: 15%;
    width: 50px; }
    @media (min-width: 768px) {
      .cap .cap-icon {
        width: 70px; } }
  .cap:hover, .cap.active {
    background: #35b729 !important;
    transition: all 0.3s ease-in; }
    .cap:hover h5, .cap.active h5 {
      top: 50%; }
    .cap:hover h5, .cap:hover .cap-icon, .cap:hover p, .cap.active h5, .cap.active .cap-icon, .cap.active p {
      transition: all 0.3s ease-in;
      visibility: visible;
      opacity: 1; }
  @media (min-width: 992px) {
    .cap {
      width: 250px;
      height: 250px; }
      .cap#real-time {
        top: 0; }
      .cap#business-procurement-solutions {
        left: 225px;
        top: 15%; }
      .cap#business-development {
        left: 440px;
        top: 30%; }
      .cap#contact-center-analytics {
        top: 30%; }
      .cap#cost-and-risk-reduction {
        left: 225px;
        top: 45%; }
      .cap#price-benchmarking {
        top: 60%; } }

.cap-desc {
  visibility: hidden;
  opacity: 0;
  height: auto;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 35px;
  border: 6px solid #35b729;
  background: white;
  width: 80%;
  color: black;
  transition: all .25s ease-in;
  font-size: 20px;
  z-index: 999; }
  @media (min-width: 768px) {
    .cap-desc {
      width: 50%; } }
  @media (min-width: 992px) {
    .cap-desc {
      width: 30%; } }
  .cap-desc.active {
    visibility: visible;
    opacity: 1; }
  .cap-desc p {
    font-size: 16px; }

#mtns .mtn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1; }

#roadmap {
  height: 850px;
  position: relative;
  padding-top: 1em; }
  @media (min-width: 992px) {
    #roadmap {
      padding-top: 0; } }
  #roadmap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); }
    @media (min-width: 992px) {
      #roadmap .overlay {
        display: none; } }
  #roadmap img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  #roadmap .route {
    color: white;
    position: relative;
    width: 96%;
    left: 15px;
    right: 15px; }
    @media (min-width: 992px) {
      #roadmap .route {
        position: absolute;
        width: 15%; } }
    #roadmap .route p {
      font-size: 14px; }
  #roadmap .analysis {
    width: 96%;
    left: 15px;
    right: 15px; }
    @media (min-width: 992px) {
      #roadmap .analysis {
        left: 3%;
        top: 2%;
        width: 18%; } }
  #roadmap .assessment {
    left: 15px;
    right: 15px;
    top: 4%; }
    @media (min-width: 992px) {
      #roadmap .assessment {
        left: 30%;
        right: auto;
        top: 4%; } }
  #roadmap .implementation {
    left: 15px;
    right: 15px;
    top: 7%; }
    @media (min-width: 992px) {
      #roadmap .implementation {
        left: 50%;
        top: 7%;
        right: auto; } }
  #roadmap .impact {
    left: 15px;
    right: 15px;
    top: 8%; }
    @media (min-width: 992px) {
      #roadmap .impact {
        left: auto;
        right: 17%;
        top: 8%; } }
  #roadmap .result {
    top: 12%;
    left: 15px;
    right: 15px; }
    @media (min-width: 992px) {
      #roadmap .result {
        top: 4%;
        left: auto;
        right: 2%; } }
  #roadmap .title {
    left: 15px;
    text-align: left;
    color: white;
    width: 96%;
    right: 50px;
    bottom: 15px;
    position: absolute; }
    @media (min-width: 992px) {
      #roadmap .title {
        text-align: right;
        right: 50px;
        width: 50%; } }

#icon-map .green-subhead:before {
  height: 110px;
  top: 8px; }

#icon-map .green-subhead p {
  padding-left: 30px; }

#video {
  background-color: #003e8e;
  height: 500px; }
  #video .chat-bubble {
    z-index: 9;
    font-family: "Bebas Bold", "Roboto", arial, sans-serif;
    height: 100px;
    width: 100px;
    background: url("assets/img/chat-bubble.png") no-repeat center center;
    background-size: contain;
    position: absolute;
    right: 20px;
    top: 10px;
    text-decoration: none;
    padding-top: 25px;
    padding-left: 15px;
    font-size: 24px;
    text-transform: uppercase; }
  @media (min-width: 992px) {
    #video {
      height: 100%; } }
  #video video {
    width: 100%; }

#capability .cap-banner {
  background-size: cover; }

#capability .banner-text img {
  width: 100px; }

#capability .wysywig-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 1em;
  margin-bottom: 1em; }
  #capability .wysywig-content ul li {
    width: 50%;
    float: left;
    padding: 5px 15px; }
    #capability .wysywig-content ul li:before {
      content: '•';
      display: block;
      float: left;
      font-size: 34px;
      top: -10px;
      margin-right: 10px;
      position: relative;
      left: 0; }

#capability .cap-features {
  background-color: #EBEBEB; }
  #capability .cap-features .feature-btn {
    border: 2px solid #35b729;
    color: #003e8e;
    padding: 5px 0;
    width: 100%;
    font-family: "Bebas Bold", "Roboto", arial, sans-serif;
    font-size: 30px;
    position: relative; }
    #capability .cap-features .feature-btn.active, #capability .cap-features .feature-btn:focus, #capability .cap-features .feature-btn:hover {
      background-color: #35b729;
      color: white;
      outline: none; }
    #capability .cap-features .feature-btn.active:after {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      top: 100%;
      height: 0;
      width: 0;
      border: 30px solid transparent;
      border-top-color: #35b729;
      content: ""; }

#capability .feature-content-container {
  position: relative;
  height: 400px; }
  #capability .feature-content-container .feature-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.35s linear; }
    #capability .feature-content-container .feature-content.active {
      opacity: 1;
      visibility: visible; }

#capability .more-caps a {
  text-decoration: none;
  color: black; }

#capability .more-caps .cap-more {
  border: 2px solid #003e8e; }
  #capability .more-caps .cap-more img {
    width: 50px;
    margin: 0 auto;
    height: 75px; }
  #capability .more-caps .cap-more .cap-icon-white {
    display: none; }
  #capability .more-caps .cap-more.active, #capability .more-caps .cap-more:hover {
    background-color: #35b729; }
    #capability .more-caps .cap-more.active .cap-icon-black, #capability .more-caps .cap-more:hover .cap-icon-black {
      display: none; }
    #capability .more-caps .cap-more.active .cap-icon-white, #capability .more-caps .cap-more:hover .cap-icon-white {
      display: block; }
    #capability .more-caps .cap-more.active a, #capability .more-caps .cap-more:hover a {
      color: white; }

#page-about {
  height: 100%;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 63, 137, 0.65) 0%, transparent 100%); }
  #page-about .headshot {
    margin-bottom: 1em; }
    @media (min-width: 992px) {
      #page-about .headshot {
        margin-bottom: 0; } }
  #page-about .video {
    background-color: #003e8e; }
  #page-about #about-vid {
    vertical-align: bottom; }
  #page-about .about-us {
    background: url("assets/img/about-mtns.png") no-repeat center center;
    background-size: cover; }
    #page-about .about-us .row {
      height: auto; }
  #page-about .home {
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("assets/img/denver-bg.png") no-repeat center top;
    background-size: cover; }
    #page-about .home .col .denver {
      height: 300px; }
      #page-about .home .col .denver h1, #page-about .home .col .denver img {
        position: relative;
        top: 100%;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s linear;
        display: inline-block; }
      #page-about .home .col .denver h1 {
        padding: 0 15px; }
      #page-about .home .col .denver.active h1, #page-about .home .col .denver.active img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        visibility: visible;
        opacity: 1; }
    #page-about .home .elevated {
      width: 70px; }
    #page-about .home .procurement {
      height: 70px; }
